.view-list-product .product-image-intro
{
    width: 100px;
}
.view-edit-product .product-image-intro-edit
{
    width: 100px;
}
.view-list-categories .image-category
{
    width: 100px;
}
.view-edit-category .image-categoy-edit
{
    width: 100px;
}
